body{
    font-family: 'Lato', sans-serif;
}
.formGroup{
    background-color: white;
    border: 1px solid black;
    padding: 0.3rem 0.5rem;
    border-radius: 25px;
}
.customHeader .navbar-nav .nav-item .nav-link{
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}
.customHeader .navbar-nav .nav-item .nav-link:hover{
    color: white;
}
.customHeader .form-control:focus{
    box-shadow: none;
}
.dropHeader .dropdown-item:hover{
    background-color: #6f7376;
}
.cooseBtn{
    background-color: #fe8d00;
    border-radius: 0px;
    color: white;
    height: 42px;
    font-size: 14px;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}
.cooseBtn:hover{
    box-shadow: inset 144px 0 0 0 #000000;
    color: #fff;
}
/* ==================================================================== */
.imgSlider{
    height: 100vh;
    object-fit: cover;
}
/* ================================================ First Section ================ */
.overlaySection{
    background: hsl(210 4% 10% / .2);
}
.cardFirst{
    background-color: #1e1f22;
    color: white;
}
.pagination-container{
    display: flex;
      position: relative;
      flex-direction: row-reverse;
       justify-content: space-between;
  }
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 50px;}
.swiper-button-prev:after,
.swiper-button-next:after,
.most-viewed   ul:after,
.most-viewed   ul:before,
.most-viewed  ul *::before,
.most-viewed  ul *::after,
section ul li *::after,
section ul li *::before

{
    background-image: none !important;
    content: none !important;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: -49px;
}
.most-viewed .swiper-button-prev{
    border-radius: 50%;
    opacity: 1;
    width: 50px;
    height: 50px;
    background-color: #fe8d00;
    color: white
}
.most-viewed .swiper-button-next{
    border-radius: 50%;
    opacity: 1;
    width: 50px;
    height: 50px;
    background-color: #fe8d00;
}
.most-viewed .swiper-button-prev.swiper-button-disabled,.most-viewed .swiper-button-next.swiper-button-disabled {
    background-color: rgb(79 105 255 / .2);
}
.cardCourse{
    box-shadow: 0 0 1px 1px rgb(20 23 28 / 10%), 0 3px 1px 0 rgb(20 23 28 / 10%);
    border-radius: 10px;
    background-color: #0f0f0f;
}
.cardCourse a{
    /* color: black; */
    text-decoration: none;
}
.cardCourse .card-img{
    height: 230px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.cardCourse:hover{
    box-shadow: 0 2px 8px 2px rgb(20 23 28 / 15%);
}
.absoluteText{
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: black;
    color: white;
}
.sameHeight{
    height: 3rem;
    margin-bottom: 0.5rem;
}
.newOverlay{
    text-align: center;
    margin-top: -2rem;
    right: 0px;
    padding: 0.5rem;
}
.newOverlay span{
    background-color: rgb(252,3,0);
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0.5rem;
}
.borderColor{
    border-bottom: 4px solid #fe8d00;
}
/* ========================= images section ==============*/
.imagesSection{
    background: url(../images/bgCompare.png);
}
.blackBlue{
    background: url(../images/blackbg.jpg);
}
.imgLab{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.imgSmall{
    width: 100%;
    vertical-align: top;
    object-fit: cover;
    height: 220px;
}
.imgTall{
    width: 100%;
    vertical-align: top;
    object-fit: cover;
    height: 440px;
}
.btnView{
    display: none;
}
.sectionDisplay{
    cursor: pointer;
}
.tooltips {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltips .tooltiptexts {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}
  
.tooltips:hover .tooltiptexts {
    visibility: visible;
}
.imgProduct img{
    height: 420px;
    width: 100%;
    object-fit: cover;
    transition: width 1s linear;
}
.imgProduct:hover img{
    width: 150%;
}
.textDefult{
    position: absolute;
    bottom: 0rem;
    text-transform: uppercase;
    left: 1rem;
    color: white;
    font-weight: bold;
}
.maxHeight{
    height: 250px;
}
.imgProduct .imgNew{
    height: auto;
}
.cardRight{
    display: none;
    position: absolute;
    text-align: center;
    top: 1rem;
    right: 1rem;
    background-color: #131313;
    width: 40px;
    color: white;
}
.btnAppear{
    display: none;
    margin-top: 1rem;
}
.imgProduct:hover .cardRight{
    display: block;
}
.imgProduct:hover .btnAppear{
    transition: top 1s linear;
    display: block;
}
.cardRight p a{
    color: white;
}
.newMaxHeight{
    height: 400px;
}
/* ========================= Footer ===================== */
.footer{
    padding-top: 3rem;
    background: url(../images/bgdark.jpeg);
}
.footer p {
    color: rgba(255,255,255,0.9);
    font-size: 14px;
}
.footer p a{
    color: rgb(255 255 255 / 55%);
    text-decoration: none;
}
.footer p a:hover{
    color: rgb(255 255 255 / 100%); 
}
.footer .footText .textRed{
    color: #ee0605;
}
@media screen and (min-width:1200px) {
    .imgLab{
        width: 170%;
    }
}
@media screen and (max-width:500px) {
    .imgProduct img{
        height: 300px;
    }
    .imgProduct .imgNew{
        height: auto;
    }
    .most-viewed .swiper-button-next{
        left: 70px;
    }
    .imgSlider{
        height: 85vh;
        object-fit: cover;
    }
}